<ion-header>

    <ion-navbar color="header">

        <ion-title>KSP APP</ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding>
    <h5>Create Competition</h5>
    <form [formGroup]="Compitition" (ngSubmit)="create()">
        <ion-item>
            <ion-label floating>Competition Name</ion-label>
            <ion-input type="text" formControlName="CompetitionName"></ion-input>
        </ion-item>
        <div padding-horizontal>
            <div class="alert" *ngIf="!Compitition.controls['CompetitionName'].valid && Compitition.controls['CompetitionName'].touched">Please Enter Competition Name</div>
        </div>
        <ion-row>
            <ion-col col-6>
                <ion-item (click)="getDate()">
                    <ion-label>{{ comdate }}</ion-label>
                </ion-item>
            </ion-col>
            <ion-col col-6>
                <ion-item (click)="getTime()">
                    <ion-label>{{ comtime }}</ion-label>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-item>
            <ion-label floating>No. of Users involved </ion-label>
            <ion-input type="number" formControlName="Counters"></ion-input>
        </ion-item>
        <div padding-horizontal>
            <div class="alert" *ngIf="!Compitition.controls['Counters'].valid && Compitition.controls['Counters'].touched">Please Enter No. of Users involved</div>
        </div>
        <ion-item-group>
            <ion-item-divider color="light" class="dividerpadding">
                Sports Type
            </ion-item-divider>
            <ion-row *ngFor="let item of sportsType;">
                <ion-item>
                    <ion-label>{{item.sports_type_name}}</ion-label>
                    <ion-checkbox [(ngModel)]="item.selected" [ngModelOptions]="{standalone: true}"></ion-checkbox>
                </ion-item>
            </ion-row>
        </ion-item-group>
        <div class="button_div">
            <button ion-button [disabled]="!Compitition.valid" block>
              Add
        </button>
        </div>
    </form>
</ion-content>