<ion-header>

  <ion-navbar color="header">

      <ion-title>KSP APP</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
        <ion-list>
                <ion-item-sliding *ngFor="let item of competitions;">
                        <ion-item >
                                <h2>Competition name: {{item.name}}</h2>
                                <h6 style="white-space: normal !important;">
                                    Sports name: 
                                    <span *ngFor="let competition_sports_type of item.competition_sports_type;">
                                        {{competition_sports_type.sports_type_name}},
                                    </span></h6>
                                <p>Competition Date: {{item.start_date}} Competition time: {{item.start_time}}</p>
                                <p>User Involved: {{item.users_involved}}</p>
                            </ion-item>
                    <ion-item-options side="right">
                        <button ion-button color="primary" (click)="itemclick(item)">
                            <ion-icon name="md-create"></ion-icon>
                            Edit
                         </button>
                        <button ion-button color="primary" (click)="deleteitem(item)">
                            <ion-icon name="md-trash"></ion-icon>
                             Delete
                         </button>
                    </ion-item-options>
                </ion-item-sliding>
            </ion-list>
  <h5 *ngIf="!competitions.length">No data found</h5>
</ion-content>